# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Environment variables
.env

# Build artifacts (if applicable)
dist/
build/

# Coverage reports
coverage/

# Temporary files
*.tmp
*.temp

# IDE/Editor specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Operating system files
.DS_Store
Thumbs.db

# Other
*.tgz
